.column-0 {
  float: left;
  width: 15px;
}

.column-1 {
  float: left;
  width: 40px;
}

.column-2 {
  float: left;
  width: 45px;
}

.column-3 {
  float: left;
  width: 80px;
}

.column-4 {
  float: left;
  width: 100px;
}

.column-5 {
  float: left;
  width: 105px;
}

.column-6 {
  float: left;
  width: 110px;
}

.col-underline-sm {
  float: left;
  width: 40px;
  border-bottom: 1px solid black;
  text-align: center;
}

.col-underline-lg {
  float: left;
  width: 80px;
  border-bottom: 1px solid black;
}

.col-underline-lg-2 {
  float: left;
  width: 80px;
  border-bottom: 1.5px solid black;
  font-weight: bold;
}

.row {
  margin: 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.divider {
  width: 350px;
  margin-left: 5;
  margin-top: 10px;
  margin-bottom: 10px;;
}

.page {
  border-style: solid;
  margin-bottom: 8px;
  padding: 5px;
  width: 360px;
}

input {
  width: 80px;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}
